.container {
  width: 800px;
  margin: 0 auto;
}

.column {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  max-width: 100%;
  height: auto;
  text-align: center;
  background-color: grey;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 1000px){
  .column {
    width: 300px;
    margin: 10px;
  }
